<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Student Number" %><br>
    <%= f.text_field :studentNumber %>
  </div>
  <div class="field">
    <%= f.label "First Name" %><br>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label "Last Name" %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label "Email" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Locker Number" %><br>
    <%= f.text_field :lockerNumber %>
  </div>
  <div class="field">
    <%= f.label "Locker Type" %><br>
    <%= f.text_field :lockerType %>
  </div>
  <div class="field">
    <%= f.label "Locker Combo" %><br>
    <%= f.text_field :lockerCombo %>
  </div>
  <div class="field">
    <%= f.label "Number of Semesters" %><br>
    <%= f.number_field :numberOfSemesters %>
  </div>
  <div class="field">
    <%= f.label "Terms Accepted" %><br>
    <%= f.check_box :termsAccepted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
