<h1>Registrations</h1>

<%= form_tag registrations_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Locker Number</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= link_to Registration.lockerNumber, registration_path(registration) %></td>
        <td><%= link_to "Edit", edit_registration_path(registration) %></td>
        <td><%= link_to "Destroy", registrations_path(registration), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_registration_path %>
