<h1>Registrations</h1>
<!--Keiko Climaco 5999930 Implemented search function! woo! -->
<%= form_tag(registrations_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Lockers" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Locker Number</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<!-- Keiko Climaco 5999930 Displaying occupied lockers -->
  <tbody>
    <% for registration in @registrations%>
      <tr>
        <td><%= link_to registration.lockerNumber, registration_path(registration)%></td>
        <td><%= link_to "Edit", edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_registration_path %>
