<p id="notice"><%= notice %></p>

<p>
  <strong>Studentnumber:</strong>
  <%= @registration.studentNumber %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @registration.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @registration.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Lockernumber:</strong>
  <%= @registration.lockerNumber %>
</p>

<p>
  <strong>Lockertype:</strong>
  <%= @registration.lockerType %>
</p>

<p>
  <strong>Lockercombo:</strong>
  <%= @registration.lockerCombo %>
</p>

<p>
  <strong>Numberofsemesters:</strong>
  <%= @registration.numberOfSemesters %>
</p>

<p>
  <strong>Termsaccepted:</strong>
  <%= @registration.termsAccepted %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
