<!DOCTYPE html>
<html>
<head>
  <title>LockerSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
       
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://137.122.85.31" class="navbar-brand">ESSAEG</a>
        </div>
       
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li><%= link_to "Home"%></li>-->
                <li><%= link_to "Register", registrations_path%></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <%= yield %>
</div>
</body>
</html>
